<div ng-controller="devopsCtl" class="layui-row">
    <div class="layui-col-xs12">
        <div class="layui-inline">
            <input class="layui-input" autocomplete="off" style="height: 30px" id="searchVal">
        </div>
        <button class="layui-btn layui-btn-sm" data-type="reload" id="search_btn">查询数据2</button>
    </div>
    <div class="layui-col-xs12">
        <table class="layui-hide" id="demo" lay-filter="tableFilter"></table>
        <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
                <button type="button" class="layui-btn  layui-btn-sm layui-btn-danger" lay-event="delete">批量删除</button>
            </div>
        </script>
        <script type="text/html" id="isReportTpl">
            <input type="checkbox" name="lock" value="{{d.isReport}}" title="是" lay-filter="lockDemo" {{
                   d.isReport ?'checked' : '' }}>
        </script>
        <script type="text/html" id="processingResultsTpl">
            {{ result(d.processingResults) }}
        </script>
        <script type="text/html" id="barDemo">
            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs"><i
                    class="layui-icon layui-icon-list"></i></button>
            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="update"><i
                    class="layui-icon"></i></button>
            <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del"><i
                    class="layui-icon"></i></button>
        </script>

        <!-- 表单 -->
        <div style="margin: 25px; display: none" id="detailForm">
            <form class="layui-form" lay-filter="detail" id="form_info">
                <input type="text" name="id" style="display: none" autocomplete="off" class="layui-input"/>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>事件名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="appName" required lay-verify="required" placeholder="请输入输入应用名称"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>所属平台</label>
                    <div class="layui-input-block">
                        <select required lay-verify="required" name="platform" lay-verify="required" lay-search>
                            <option value="1">政务云平台</option>
                            <option value="2">租户应用系统</option>
                            <option value="3">其他</option>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>申告人</label>
                    <div class="layui-input-block">
                        <select id="claimant" lay-verify="required" name="claimant" class="layui-input"
                                placeholder="处理人" xm-select="claimant" xm-select-show-count="5"></select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label"><span style="color:red;">*</span>发生时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="occurrence" class="layui-input" required lay-verify="required"
                                   id="occurrence" placeholder="yyyy-MM-dd">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label"><span style="color:red;">*</span>事件类别</label>
                        <div class="layui-input-block">
                            <select required lay-verify="required" name="category" lay-verify="required" lay-search>
                                <option value="0">设备维护</option>
                                <option value="1">软件故障</option>
                                <option value="2">硬件故障</option>
                                <option value="3">其他</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">事件来源</label>
                        <div class="layui-input-block">
                            <select required lay-verify="required" name="eventSource" lay-verify="required" lay-search>
                                <option value="0">日常巡检</option>
                                <option value="1">外部上报</option>
                                <option value="2">系统优化</option>
                                <option value="3">其他</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">事件描述</label>
                    <div class="layui-input-block">
                        <textarea name="eventDescription" placeholder="请输入事件描述内容" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>处理人</label>
                    <div class="layui-input-block">
                        <select id="processingPersonnel" lay-verify="required" name="processingPersonnel"
                                class="layui-input" placeholder="处理人" xm-select="processingPersonnel"
                                xm-select-show-count="5"></select>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">

                    <div class="layui-inline">
                        <label class="layui-form-label"><span style="color:red;">*</span>处理结果</label>
                        <div class="layui-input-inline">
                            <select required lay-verify="required" name="processingResults" lay-verify="required"
                                    lay-search>
                                <option value="0">未完成</option>
                                <option value="1">处理中</option>
                                <option value="2">完成</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">是否上报</label>
                        <div class="layui-input-block">
                            <input type="checkbox" name="isReport" lay-skin="primary">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label"><span style="color:red;">*</span>处理经过</label>
                    <div class="layui-input-block">
                        <textarea name="treatmentProcess" placeholder="请输入事件描述内容" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="bz" placeholder="请输入备注" class="layui-textarea"></textarea>
                    </div>
                </div>

                <div class="layui-form-item" style="float: right">
                    <div class="layui-input-block">
                        <button type="reset" class="layui-btn layui-btn-primary" style="height: 30px;line-height: 30px;padding: 0 10px;font-size: 12px;" id="reset">重置表单
                        </button>
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitBtn" style="height: 30px;line-height: 30px;padding: 0 10px;font-size: 12px;">确定提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<link rel="stylesheet" href="plugin/layui/layui.css">
<script src="plugin/layui/layui.js"></script>

<link rel="stylesheet" href="plugin/layui/formSelects-v4.css">
<script src="plugin/layui/formSelects-v4.js"></script>
<script>
    let formSelects = layui.formSelects;
    app.register.controller('devopsCtl', function ($localStorage, $scope, $http, $rootScope, $confirm) {
        layui.use(['form', 'table', 'laydate'], function () {
            const table = layui.table;
            const laydate = layui.laydate;
            const form = layui.form;
            $http.post($rootScope.project + "api/sysUserInfo/selectList.do", {}).success(function (res) {
                // 加载用户信息
                formSelects.data('processingPersonnel', 'local', {
                    arr: res.data,
                    keyVal: 'userId',
                });
                formSelects.data('claimant', 'local', {
                    arr: res.data,
                    keyVal: 'userId',
                });
            });
            //展示已知数据
            table.render({
                elem: '#demo'
                , height: 'full'
                , cols: [[
                    {type: 'checkbox', rowspan: 2,fixed: 'left'}
                    , {field: 'id', title: '事件编号', width: 120, align: 'center', rowspan: 2,sort:true,fixed: 'left'}
                    , {field: 'occurrence', title: '发生时间', width: 120, align: 'center', rowspan: 2}
                    , {field: 'appName', title: '事件名称', width: 120, align: 'center', rowspan: 2}
                    , {field: 'eventDescription', title: '事件描述', rowspan: 2}

                    , {title: '处理经过/处理人员/处理结果', align: 'center', colspan: 4}
                    // , {
                    //     field: 'isReport',
                    //     title: '是否上报',
                    //     width: 100,
                    //     align: 'center',
                    //     templet: '#isReportTpl',
                    //     rowspan: 2
                    // },
                    ,{field: 'bz', title: '备注', rowspan: 2,width: 120}
                    , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 150, rowspan: 2}
                ],
                    [
                        {
                            field: 'treatmentProcess',
                            title: '处理经过',
                            width: 90,
                            align: 'center',
                            templet: '#treatmentProcess',
                        }
                        , {field: 'processingPersonnelStr', title: '处理人员', width: 220, align: 'center'}
                        , {
                        field: 'processingResults',
                        title: '处理结果',
                        width: 90,
                        align: 'center',
                        templet: '#processingResultsTpl',
                        sort:true
                    },

                    ]]

                , toolbar: '#toolbarDemo'
                , defaultToolbar: ['filter', 'exports', 'print']
                , page: true
                , even: true
                , url: '/dt/api/ops/devOps/selectPage.do'
            });

            table.on('toolbar(tableFilter)', function (obj) {
                const checkStatus = table.checkStatus(obj.config.id);
                switch (obj.event) {
                    case 'add':
                        openDetail();
                        break;
                    case 'delete':
                        const ids = [];
                        checkStatus.data.forEach(item => {
                            ids.push(item.id);
                        });
                        if (ids.length > 0) {
                            $confirm({text: '是否删除?'}).then(function () {
                                $http.post($rootScope.project + "api/ops/devOps/deleteById.do", {ids: ids.join()}).success(function () {
                                    table.reload('demo', {
                                        url: $rootScope.project + 'api/ops/devOps/selectPage.do'
                                    });
                                });
                            });
                        } else {
                            layer.msg('请先选择一行再进行操作');
                        }
                        break;
                }
            });

            //监听行工具事件
            table.on('tool(tableFilter)', function (obj) {
                const data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('真的删除行么', function (index) {
                        $http.post($rootScope.project + "api/ops/devOps/deleteById.do", {ids: data.id}).success(function () {
                            table.reload('demo', {
                                url: $rootScope.project + 'api/ops/devOps/selectPage.do'
                            });
                        });
                        layer.close(index);
                    });
                } else if (obj.event === 'update') {
                    openDetail(data.id);
                }
            });

            // 表格搜索
            $(document).on('click', '#search_btn', function () {
                const searchVal = $('#searchVal');
                table.reload('demo', {
                    where: {search: searchVal.val()},
                    url: $rootScope.project + 'api/ops/devOps/selectPage.do'
                });
            });

            // 表单提交
            form.on('submit(submitBtn)', function (data) {
                $http.post($rootScope.project + "api/ops/devOps/submit.do", data.field).success(function () {
                    window.location.reload();
                });
                return false;
            });

            //日期范围
            laydate.render({
                elem: '#dateScope'
                , type: 'datetime'
                , range: ['#creationTime', '#endTime']
            });
            laydate.render({
                elem: '#occurrence'
            });

            // 打开详情页面
            function openDetail(id) {
                //页面层
                const viewObj = {
                    type: 1
                    , skin: 'layui-layer-molv'
                    , area: ['1080px', '680px']
                    , title: ['新增运维信息', 'font-size:14px']
                    , shadeClose: true
                    , shade: 0
                    , maxmin: true
                    , content: $("#detailForm")
                    , success: function () {
                        // 查询用户信息
                        if (id) {
                            $http.post($rootScope.project + "api/ops/devOps/getById.do", {id: id}).success(function (res) {
                                form.val('detail', res.data);
                                if (res.data.processingPersonnel) {
                                    formSelects.value('processingPersonnel', res.data.processingPersonnel.split(","), true);
                                }
                                if (res.data.claimant) {
                                    formSelects.value('claimant', res.data.claimant.split(","), true);
                                }
                            });
                        } else {
                            const userId = $localStorage.get("dt_sys_user_info").userId;
                            formSelects.value('processingPersonnel', userId.split(",") , true);
                            formSelects.value('claimant', userId.split(",") , true);
                        }
                    }
                    ,  end : function() {
                        $('#reset').click();
                        form.val('detail', {});
                    }
                }
                layer.open(viewObj);
            }
        });
    });

    function result(type) {
        if (type === '1') {
            return '处理中';
        } else if (type === '2') {
            return '完成';
        }
        return '未完成';
    }
</script>

<style>
    .layui-col-xs12 {
        background-color: #ffffff;
        color: inherit;
        padding: 10px 12px 10px 10px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
        margin-top: 10px;
    }

    .layui-form-label {
        width: 100px;
    }

    .layui-input-block {
        margin-left: 105px;
    }
</style>