<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommunityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.po.Community">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="teachers" property="teachers" />
        <result column="depart" property="depart" />
        <result column="logo" property="logo" />
        <result column="charger" property="charger" />
        <result column="description" property="description" />
        <result column="status" property="status" />
        <result column="address" property="address" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="weixin" property="weixin" />
        <result column="school_id" property="schoolId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
        <result column="deleted" property="deleted" />
    </resultMap>

</mapper>
