<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.po.Course">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="name_en" property="nameEn" />
        <result column="course_no" property="courseNo" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="depart" property="depart" />
        <result column="state" property="state" />
        <result column="major" property="major" />
        <result column="deleted" property="deleted" />
        <result column="course_type" property="courseType" />
        <result column="school" property="school" />
    </resultMap>

</mapper>
