<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BusUrlMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.po.BusUrl">
        <id column="id" property="id" />
        <result column="itemId" property="itemId" />
        <result column="busSystem" property="busSystem" />
        <result column="useUnit" property="useUnit" />
        <result column="useNetwork" property="useNetwork" />
        <result column="url" property="url" />
        <result column="outIp" property="outIp" />
        <result column="interIp" property="interIp" />
        <result column="busHandle" property="busHandle" />
        <result column="handleTel" property="handleTel" />
        <result column="remark" property="remark" />
        <result column="dr" property="dr" />
    </resultMap>

</mapper>
