<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.StudentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.demo.po.Student">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="school" property="school" />
        <result column="depart" property="depart" />
        <result column="classinfo" property="classinfo" />
        <result column="student_no" property="studentNo" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="major" property="major" />
        <result column="student_name" property="studentName" />
    </resultMap>

</mapper>
